#My Jupyter Notebook on IBM Watson Studio

**Esteban Quiroga**
I want to be a data scientist in the finance or fintech sector

*I am interested in data science because I think it is very interesting and I can find a job related with the fintech sector and start-ups.*

### Next cell initializes variable a as a numeric variable with a value of cero, after that, it adds a 1 to the value of a and then prints it

In [9]:
a = 0
a = a+1
print(a)

1

<!-- HTML Code -->
<!-- Horizontal rule -->
<hr>
<!-- Bulleted list -->
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
<!-- Numbered list -->
<ol>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ol>
<!-- Table -->
<table>
  <tr>
    <th>Header 1</th>
    <th>Header 2</th>
  </tr>
  <tr>
    <td>Row 1, Column 1</td>
    <td>Row 1, Column 2</td>
  </tr>
  <tr>
    <td>Row 2, Column 1</td>
    <td>Row 2, Column 2</td>
  </tr>
</table>
<!-- Hyperlink -->
<a href="#">www.figofg.com</a>